.val-border-svg {
  overflow: visible;
}

.val-border-rect {
  fill: none;
  stroke: rgb(15 23 42);
  stroke-width: 2;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  transition: stroke-dashoffset 900ms ease-in-out;
}

.group:hover .val-border-rect {
  stroke-dashoffset: 0;
}
