<footer class="bg-blue-900 text-white py-12">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-12">

      <!-- Logo -->
      <div class="flex flex-col items-center">
        <a href="">
          <img src="https://peru-crane-813567.hostingersite.com/Logos/Nuevo%20Logo%20Completo%20Blanco.png" alt="Logo" class="w-60 mb-6 transition-transform hover:scale-110">
        </a>
      </div>

      <!-- Sucursales -->
      <div>
        <h3 class="text-lg font-bold mb-6 text-center border-b-2 border-white pb-2">Sucursales</h3>
        <ul class="space-y-4">
          <li class="flex items-center justify-center">
            <img src="https://peru-crane-813567.hostingersite.com/Logos/Iconos/ubicacion-blanco.webp" alt="Ubicación" class="w-6 mr-2">
            <a href="https://goo.gl/maps/do7Hp1SowhjupSrX6" class="hover:text-blue-400 transition-colors text-center">Casa Matriz LA PAZ Avenida Illampu esquina Graneros N.º 682.</a>
          </li>
          <li class="flex items-center justify-center">
            <img src="https://peru-crane-813567.hostingersite.com/Logos/Iconos/ubicacion-blanco.webp" alt="Ubicación" class="w-6 mr-2">
            <a href="https://maps.app.goo.gl/YjqQhsZbnFX9Ra3L6" class="hover:text-blue-400 transition-colors text-center">Cochabamba: Av. Aroma entre calle 16 de julio y av. Oquendo.</a>
          </li>
          <li class="flex items-center justify-center">
            <img src="https://peru-crane-813567.hostingersite.com/Logos/Iconos/ubicacion-blanco.webp" alt="Ubicación" class="w-6 mr-2">
            <a href="https://goo.gl/maps/EyVSdMvaQMJREoWF6" class="hover:text-blue-400 transition-colors text-center">El Alto CEIBO ZONA 16 DE JULIO CALLE RENE DORADO N°200.</a>
          </li>
          <li class="flex items-center justify-center">
            <img src="https://peru-crane-813567.hostingersite.com/Logos/Iconos/ubicacion-blanco.webp" alt="Ubicación" class="w-6 mr-2">
            <a href="https://maps.app.goo.gl/FCK113zY5iUNCrtn9" class="hover:text-blue-400 transition-colors text-center">El Alto - ciudad satelite Av. Panoramica frente al canal RTP.</a>
          </li>
          <li class="flex items-center justify-center">
            <img src="https://peru-crane-813567.hostingersite.com/Logos/Iconos/ubicacion-blanco.webp" alt="Ubicación" class="w-6 mr-2">
            <a href="#" class="hover:text-blue-400 transition-colors text-center">Santa Cruz Calle Isabela Católica Nº275.</a>
          </li>
        </ul>
      </div>

      <!-- Contactos -->
      <div>
        <h3 class="text-lg font-bold mb-6 text-center border-b-2 border-white pb-2">Contactos</h3>
        <ul class="space-y-4 text-center">
          <li>
            <span class="block font-semibold">Email:</span>
            <a href="mailto:info@gemmatex.com.bo" class="hover:text-blue-400 transition-colors">info&#64;gemmatex.com.bo</a>
          </li>
          <li>
            <span class="block font-semibold">Teléfono:</span>
            <p>LPZ:  <a href="tel:+59169779676" class="hover:text-blue-400 transition-colors">+591 71926087</a></p>
            <p>CBBA: <a href="tel:+59169779676" class="hover:text-blue-400 transition-colors">+591 62537431</a></p>
            <p>SCRZ: <a href="tel:+59169779676" class="hover:text-blue-400 transition-colors">+591 63565431</a></p>
          </li>
        </ul>
      </div>

      <!-- Trabajamos -->
      <div>
        <h3 class="text-lg font-bold mb-6 text-center border-b-2 border-white pb-2">Trabajamos</h3>
        <ul class="space-y-4 flex flex-col items-center">
          <li><img src="https://peru-crane-813567.hostingersite.com/Logos/Marcas/logo%20Epson.png" alt="EPSON" class="w-24 transition-transform hover:scale-105"></li>
          <!-- <li><img src="./img/Marcas/Logo Hagabe blanco.png" alt="HAGABE" class="w-24 transition-transform hover:scale-105"></li>
          <li><img src="./img/Marcas/Logo Genesis blanco.png" alt="GENESIS" class="w-24 transition-transform hover:scale-105"></li> -->
        </ul>
      </div>
    </div>

    <!-- Redes Sociales -->
    <div class="flex justify-center space-x-8 mt-12">
      <a href="https://www.facebook.com/profile.php?id=100076372653530" class="hover:text-blue-400 transition-transform hover:scale-110">
        <img src="https://peru-crane-813567.hostingersite.com/Logos/Iconos/Facebook%20blanco.png" alt="Facebook" class="w-10">
      </a>
      <a href="https://www.tiktok.com/@gemmatextv" class="hover:text-blue-400 transition-transform hover:scale-110">
        <img src="https://peru-crane-813567.hostingersite.com/Logos/Iconos/tiktok%20blanco.png" alt="TikTok" class="w-10">
      </a>
      <a href="https://www.youtube.com/@GemmatexTV" class="hover:text-blue-400 transition-transform hover:scale-110">
        <img src="https://peru-crane-813567.hostingersite.com/Logos/Iconos/Youtube%20blanco.png" alt="YouTube" class="w-10">
      </a>
      <a href="https://www.facebook.com/profile.php?id=100076372653530" class="hover:text-blue-400 transition-transform hover:scale-110">
        <img src="https://peru-crane-813567.hostingersite.com/Logos/Iconos/messager%20blanco.png" alt="Messenger" class="w-10">
      </a>
    </div>

    <!-- Footer Info -->
    <p class="mt-8 text-center text-sm opacity-75">© Copyright Gemmatex 2025.</p>
  </div>
</footer>
