.wave-card{position:relative;overflow:hidden;background:#fff}
.wave-card::before,.wave-card::after{
  content:"";position:absolute;
  width:520px;height:520px;
  border-top-left-radius:40%;border-top-right-radius:45%;
  border-bottom-left-radius:35%;border-bottom-right-radius:40%;
  z-index:0
}
.wave-card::before{
  left:25%;bottom:-125%;
  background:rgba(0,74,177,.13);
  animation:waves 8s infinite linear
}
.wave-card::after{
  left:15%;bottom:-118%;
  background:rgba(5,17,242,.09);
  animation:waves 11s infinite
}
.wave-content{position:relative;z-index:1}
@keyframes waves{from{transform:rotate(0deg)}to{transform:rotate(360deg)}}
